<!DOCTYPE html>
<html lang="es">
  {% include 'blocks/head.njk' %}
  <body>
    <main class="grid">
        {% include 'blocks/header.njk' %}
        {% include 'blocks/list-posts.njk' %}
    </main>
