<!DOCTYPE html>
<html lang="es">
  {% include 'blocks/head.njk' %}
  <body>
    <main class="grid">
      {% include 'blocks/header.njk' %}
      <section class="col-right padding-x">
        <h1 class="title-subpage">{{ title }}</h1>
        <main>
          {{ content | safe }}
        </main>
        <a href="/" class="button with-icon">
          <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24">
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 12h14M5 12l6-6m-6 6 6 6"
              style="--darkreader-inline-stroke:var(--darkreader-text-000000, #e8e6e3)"/>
          </svg>
          Volver a la pagina principal
        </a>
      </section>
    </main>
  </body>
</html>