<footer>
    <small class="text-muted">
        <em>
            Copyright &copy;{{ "2025" | yearCopyright }}. Todos los derechos reservados.
        </em>
    </small>
</footer>
</body>
<script type="module" src="/assets/js/main.js"></script>
</html>