<header class="col-left padding-x">
  <hgroup>
    <h2>{{ site.title }}</h2>
    <p>{{ site.description }}</p>
    <nav>
      <ul>
        <li><a class="" href="/categorias">Categorías</a></li>
      </ul>
    </nav>
  </hgroup>
  {% include './footer.njk' %}
</header>