<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="/assets/main.css" />
  <title>{{ title if title else site.title }}</title>
  <meta name="description" content="{{ site.description }}" />
</head>
